.culture-choice {
	white-space: normal !important;
}

.progress-bar {
	text-align: left;
	padding-left: 1em;
}


div.required label:after {
	content: ' *';
	color: #990000;
	display:inline;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
	opacity: 1;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}
